body{
    background-color: rgb(24, 24, 42);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 05px;
    background-color: black;
    border-radius: 10px;
}

    h2{
        text-align: center;
color: red;


    }

    p{
        text-align: center;
        color: red;
    }