body{
    background-color: rgb(24, 24, 42);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 05px;
    background-color: black;}

    h2{
        text-align: center;
        color: red;
    }

    h1{
        color:  rgb(83, 11, 114);
    }

    h3{
        color: white;
        font-size: 30px;
    }

    p{
        text-align: justify;
        font-size: 20px;
    }