@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
background-color: black;
text-align: center;
}

button{
    background-color: rgb(58, 56, 56);
}